.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section-header {
  text-align: left;
  background-color: #282c34;
  /* min-height: 100vh; */
  color: white;
  padding: 2% 22%;
}

.App-image {
  width: 650px;
}

.redesign-image {
  width: 650px;
}

.App-original-vis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-section-body {
  padding-left: 2%;
  padding-right: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.legend {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.graph {
  display: flex;
  flex-direction: row;
  font-weight: normal !important ;
}

.continer {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 10px;
}

.dropdown {
  margin: 5px;
}

.round-select {
  padding-left: 20px;
  padding-bottom: 20px;
}