.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section-header {
  text-align: left;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding: 2% 22%;
}

.App-image {
  width: 650px;
}

.App-original-vis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-section-body {
  padding-left: 2%;
  padding-right: 2%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.legend {
  display: flex;
  flex-direction: column;
}

.graph {
  display: flex;
  flex-direction: row;
}

.continer {
  display: flex;
  flex-direction: column;
}

.dropdown {
  display: flex;
  flex-direction: column;
  height: 2rem;
  align-items: center;
  margin: 1rem auto;
  box-shadow: 3px 3px 0px grey;
  padding: 1rem 2rem;
  background-color: #61dafb;
  font-size: 2rem;
}